---
import TopNav from "../components/common/TopNav.astro";
import CommonLayout from "../layouts/CommonLayout.astro";
import Carousel from "../components/index/Carousel.svelte";
import PostCard from "../components/index/PostCard.svelte";
import Pagination from "../components/index/Pagination.svelte";
import { currentPage } from "../components/index/store.ts";
currentPage.set((Astro.url.searchParams.get("page")! || 1) as number);
const description = `
Noteworthy technology acquisitions 2021 Noteworthy technology acquisitions
Noteworthy technology acquisitions 2021 Noteworthy technology acquisitions
Noteworthy technology acquisitions 2021 Noteworthy technology acquisitions
`;
---

<CommonLayout>
  <TopNav />
  <center class="mt-10">
    <center class="max-w-6xl">
      <div class="mb-10">
        <Carousel client:load />
      </div>
      <div class="grid gap-3 grid-cols-4">
        {
          [1, 2].map(() => (
            <div class="col-span-1">
              <PostCard
                title={
                  "Câu Lạc Bộ Về Hội Họa FIUS CNH Art Mở Đơn Tuyển Thành Viên Thế Hệ 10"
                }
                image={
                  "https://cdn4.ivolunteer.vn/post/wp-content/uploads/2023/10/28175710/Copy-of-Ki%CC%81ch-thu%CC%9Bo%CC%9B%CC%81c-800x500px_A%CC%89nh-Da%CC%A3i-Die%CC%A3%CC%82n-Ba%CC%80i-Da%CC%86ng-Website-iVolunteer-6-3.png"
                }
                client:load
              />
              <PostCard
                title={
                  "Dự Án WAI – World And Integration Gia Hạn Đơn Đăng Ký Cộng Tác Viên Truyền Thông"
                }
                image={
                  "https://cdn4.ivolunteer.vn/post/wp-content/uploads/2023/10/23210447/Copy-of-Ki%CC%81ch-thu%CC%9Bo%CC%9B%CC%81c-800x500px_A%CC%89nh-Da%CC%A3i-Die%CC%A3%CC%82n-Ba%CC%80i-Da%CC%86ng-Website-iVolunteer-16-2.png"
                }
                client:load
              />
              <PostCard
                title={
                  "Câu Lạc Bộ Về Hội Họa FIUS CNH Art Mở Đơn Tuyển Thành Viên Thế Hệ 10"
                }
                image={
                  "https://cdn4.ivolunteer.vn/post/wp-content/uploads/2023/10/28175710/Copy-of-Ki%CC%81ch-thu%CC%9Bo%CC%9B%CC%81c-800x500px_A%CC%89nh-Da%CC%A3i-Die%CC%A3%CC%82n-Ba%CC%80i-Da%CC%86ng-Website-iVolunteer-6-3.png"
                }
                client:load
              />
              <PostCard
                title={
                  "Dự Án WAI – World And Integration Gia Hạn Đơn Đăng Ký Cộng Tác Viên Truyền Thông"
                }
                image={
                  "https://cdn4.ivolunteer.vn/post/wp-content/uploads/2023/10/23210447/Copy-of-Ki%CC%81ch-thu%CC%9Bo%CC%9B%CC%81c-800x500px_A%CC%89nh-Da%CC%A3i-Die%CC%A3%CC%82n-Ba%CC%80i-Da%CC%86ng-Website-iVolunteer-16-2.png"
                }
                client:load
              />
              <PostCard
                title={
                  "Câu Lạc Bộ Về Hội Họa FIUS CNH Art Mở Đơn Tuyển Thành Viên Thế Hệ 10"
                }
                image={
                  "https://cdn4.ivolunteer.vn/post/wp-content/uploads/2023/10/28175710/Copy-of-Ki%CC%81ch-thu%CC%9Bo%CC%9B%CC%81c-800x500px_A%CC%89nh-Da%CC%A3i-Die%CC%A3%CC%82n-Ba%CC%80i-Da%CC%86ng-Website-iVolunteer-6-3.png"
                }
                client:load
              />
            </div>
          ))
        }
        {
          [1, 2].map(() => (
            <div class="col-span-1">
              <PostCard
                title={
                  "Dự Án Thiện Nguyện Về Trẻ Em ‘The Idyllic Project’ Mở Đơn Tuyển Thành Viên Mùa 4"
                }
                image={
                  "https://cdn4.ivolunteer.vn/post/wp-content/uploads/2023/10/25162321/Ban-sao-cua-Kich-thuoc-800x500px_Anh-Dai-Dien-Bai-Dang-Website-iVolunteer-63.png"
                }
                client:load
              />
              <PostCard
                title={
                  "Câu Lạc Bộ Sách Books In The Wood  Mở Đơn Tuyển Thành Viên Thế Hệ Thứ 2"
                }
                image={
                  "https://cdn4.ivolunteer.vn/post/wp-content/uploads/2023/10/27105855/Ban-sao-cua-Kich-thuoc-800x500px_Anh-Dai-Dien-Bai-Dang-Website-iVolunteer-2-23.png"
                }
                client:load
              />
              <PostCard
                title={
                  "Câu Lạc Bộ Về Hội Họa FIUS CNH Art Mở Đơn Tuyển Thành Viên Thế Hệ 10"
                }
                image={
                  "https://cdn4.ivolunteer.vn/post/wp-content/uploads/2023/10/28175710/Copy-of-Ki%CC%81ch-thu%CC%9Bo%CC%9B%CC%81c-800x500px_A%CC%89nh-Da%CC%A3i-Die%CC%A3%CC%82n-Ba%CC%80i-Da%CC%86ng-Website-iVolunteer-6-3.png"
                }
                client:load
              />
              <PostCard
                title={
                  "Dự Án WAI – World And Integration Gia Hạn Đơn Đăng Ký Cộng Tác Viên Truyền Thông"
                }
                image={
                  "https://cdn4.ivolunteer.vn/post/wp-content/uploads/2023/10/23210447/Copy-of-Ki%CC%81ch-thu%CC%9Bo%CC%9B%CC%81c-800x500px_A%CC%89nh-Da%CC%A3i-Die%CC%A3%CC%82n-Ba%CC%80i-Da%CC%86ng-Website-iVolunteer-16-2.png"
                }
                client:load
              />
              <PostCard
                title={
                  "Câu Lạc Bộ Về Hội Họa FIUS CNH Art Mở Đơn Tuyển Thành Viên Thế Hệ 10"
                }
                image={
                  "https://cdn4.ivolunteer.vn/post/wp-content/uploads/2023/10/28175710/Copy-of-Ki%CC%81ch-thu%CC%9Bo%CC%9B%CC%81c-800x500px_A%CC%89nh-Da%CC%A3i-Die%CC%A3%CC%82n-Ba%CC%80i-Da%CC%86ng-Website-iVolunteer-6-3.png"
                }
                client:load
              />
            </div>
          ))
        }
        <!-- <div class="col-span-3 ml-5">
          <PostCard horizontal={true} textSize="lg" client:load />
          <PostCard horizontal={true} textSize="lg" client:load />
          <PostCard horizontal={true} textSize="lg" client:load />
          <PostCard horizontal={true} textSize="lg" client:load />
          <PostCard horizontal={true} textSize="lg" client:load />
          <PostCard horizontal={true} textSize="lg" client:load />
        </div> -->
      </div>
      <Pagination />
    </center>
  </center>

  <style>
    body {
      line-height: 1.5;
      background-color: #f8f3eb;
      color: #484847;
    }
    aside > div > div {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }

    .post-card + .post-card:before {
      border-left: black solid 1px;
    }
  </style>
</CommonLayout>
